<%= form_with(model: patient_dismissal, local: true) do |form| %>
  <% if patient_dismissal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_dismissal.errors.count, "error") %> prohibited this patient_dismissal from being saved:</h2>

      <ul>
      <% patient_dismissal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
