<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time expected:</strong>
  <%= @appointment.end_time_expected %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @appointment.cancelled %>
</p>

<p>
  <strong>Cancelled reason:</strong>
  <%= @appointment.cancelled_reason %>
</p>

<p>
  <strong>Appointment type:</strong>
  <%= @appointment.appointment_type %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient %>
</p>

<p>
  <strong>Patient dismissal:</strong>
  <%= @appointment.patient_dismissal %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<p>
  <%= link_to 'New Patient Encounter', new_patient_encounter_path %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
